In [74]:
#21
letters = 'python'
print(letters[:1])
print(letters[2:3])

print(letters[0], letters[2])

p
t
p t

In [24]:
#22
license_plate = "24가 2210"
license_plate = license_plate.split(" ")
license_plate[1]

'2210'

In [26]:
#22
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [65]:
#23
string = "홀짝홀짝홀짝"
print(string.replace("짝",""))
print(string[::2])

##인덱싱 문자열에서 원하는 것만 뽑아내는방법,,?

홀홀홀
홀홀홀

In [50]:
#24 /// 틀림!!!
string = "PYTHON"
newstring = list(string)
newstring
newstring.sort()
print(newstring)

['H', 'N', 'O', 'P', 'T', 'Y']

In [72]:
string = "PYTHON"
print(string.[::-1])

SyntaxError: invalid syntax (11657199.py, line 2)

In [51]:
#25
phone_number = "010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [52]:
#26
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [55]:
#27
url = "http://sharebook.kr"
url = url.split(".")
url[1]

'kr'

In [63]:
#28 아래 코드의 실행 결과를 예상해보세요.
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [59]:
#29아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
string.replace("a","A")

'Abcdfe2A354A32A'

In [61]:
#30 아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace('b', 'B')
print(string)

# -> aBcd

abcd

In [75]:
#31 문자열 합치기
a = "3"
b = "4"
print(a + b)

# -> 34

34

In [77]:
#32 문자열 곱하기
print("Hi" * 3)
# => HiHiHi

HiHiHi

In [78]:
#33 화면에 '-'를 80개 출력하세요.
print("-"*80)

--------------------------------------------------------------------------------

In [80]:
#34 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
t1 = 'python'
t2 = 'java'

print ((t1 +" " + t2 + " ") * 4)

python java python java python java python java

In [88]:
#35 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [85]:
#36 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름:{} 나이:{}" .format(name1, age1))
print("이름:{} 나이:{}" .format(name2, age2))

3, 5

In [90]:
#37 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [105]:
#38 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

a = "5,969,782,550"
a = a.replace(",","")
a

'5969782550'

In [98]:
int(a)

5969782550

In [114]:
#39 다음과 같은 문자열에서 '2020/03'만 출력하세요.

inputline = "2020/03(E) (IFRS연결)"
invalue = "2020/03"
inputline[:len(invalue)]

'2020/03'

In [116]:
#40 strip 메서드

data = "   삼성전자    "
data.strip()

'삼성전자'

In [117]:
#41 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [118]:
#42 소문자 변경
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [122]:
#43  H만 대문자로
testword = "hello"
testword.capitalize()

'Hello'

In [125]:
#44 ednswich
file_name ="report.xlsx"

AttributeError: 'str' object has no attribute 'endswich'

In [128]:
#47 공백을 기준으로 문자열을 나눠보세요
a = "hello world"
a.split(" ")

['hello', 'world']

In [129]:
#48 
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [130]:
#49
date = "2020-05-01"
date = date.split("-")
year = date[0]
month = date[1]
day = date[2]

print(year)
print(month)
print(day)

2020
05
01

In [132]:
#50 
data = "039490     "
data.rstrip()

'039490'

In [12]:
#51 영화 제목을 movie_rank 이름의 리스트에 저장
movie_rank = ["doctor_strange", "split","lucky"]
movie_rank

['doctor_strange', 'split', 'lucky']

In [13]:
#52
movie_rank.append("batman")
movie_rank

['doctor_strange', 'split', 'lucky', 'batman']

In [15]:
#53
movie_rank.insert(1,"superman")
movie_rank

['doctor_strange', 'superman', 'superman', 'split', 'lucky', 'batman']

In [17]:
#54
movie_rank = ['doctor_strange', 'superman', 'split', 'lucky', 'batman']
movie_rank.remove('lucky')
movie_rank

['doctor_strange', 'superman', 'split', 'batman']

In [22]:
movie_rank = ['doctor_strange', 'superman', 'split', 'lucky', 'batman']
del movie_rank[4]
movie_rank

['doctor_strange', 'superman', 'split', 'lucky']

In [34]:
#55
movie_rank = ['doctor_strange', 'superman', 'split', 'lucky', 'batman']
type(movie_rank)
movie_rank.remove('batman')

In [35]:
#56 리스트 합치기
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang3 = lang1 + lang2
print(lang3)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [36]:
#57 리스트 최대,최소값
nums = [1, 2, 3, 4, 5, 6, 7]
print(min(nums))
print(max(nums))

1
7

In [38]:
#58 리스트의 합 출력
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [39]:
#59 리스트 내 데이터 갯수 
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [40]:
#60 리스트 평균
nums = [1, 2, 3, 4, 5]

lenth = len(nums)
summation = sum(nums)
average = summation / lenth
average

3.0

In [42]:
#61 가격정보만 출력
price = ['20180728', 100, 130, 140, 150, 160, 170]
newprice = price[1:]
newprice

[100, 130, 140, 150, 160, 170]

In [43]:
#62 홀수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [44]:
#63 짝수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [45]:
#64 역방향출력
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [47]:
#65 삼전 네이버 출력
interest = ['삼성전자', 'LG전자', 'Naver']
interest[0], interest[2]

('삼성전자', 'Naver')

In [49]:
#66 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest[:len(interest)]

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [51]:
seperator = " "
my_list = ["apple", "banana", "cherry"]
result = seperator.join(my_list)
result

'apple banana cherry'

In [52]:
seperator = " "
my_list = [1, 2, 3]
result = seperator.join(map(str, my_list))
result

'1 2 3'

In [54]:
my_list = [1, 2, 3]
map(str, my_list)
type(my_list)

list

In [57]:
a = list(map(int,input().split()))
a

 1 2 5 4 6 7 8

[1, 2, 5, 4, 6, 7, 8]

In [58]:
type(a)

list

In [60]:
type(a[0])

int

In [64]:
a = list(map(int, input().split()))

 1 2 3 4 5 7

In [68]:
type(a[0])

int

In [69]:
seperator =" "
a1 = seperator.join(map(str, a))
a1

'1 2 3 4 5 7'

In [2]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

sepor = "/"
sepor.join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [3]:
#69 
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [6]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [8]:
#101 
a = bool
type(a)

type

In [9]:
print(3==5)

False

In [10]:
print ( 3 ==3 ) and ( 4 != 3)

True

In [13]:
if 4 < 3 : 
    print ("Hello World")

In [14]:
if 4 < 3 :
    print ("Hello World")
else :
    print ("Hi, there")

Hi, there

In [17]:
if True :
    print ("1")
    print ("2")
else : 
    print("3")
print("3")

1
2
3

In [18]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [20]:
if False :
    print ("1")
    print ("2")
else : 
    print("3")
print("3")

3
3

In [21]:
#111 

user = input("입력:")
print(user * 2)

입력: 안녕하세요

안녕하세요안녕하세요

In [27]:
#112
user = input("숫자 입력:")
print(int(user) + 10)

숫자 입력: 30

40

In [30]:
#113사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

user = input("숫자 입력")
user = int(user)
if (user % 2 == 0) :
    print ("짝수")
else : 
    print ("홀수")

숫자 입력 15

홀수

In [34]:
#114 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
#단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.
#1. 사용자값 입력받기
#2. 입력값 + 20 더한값 출력하기 ㅡ 입력값 int 변환
#3. 조건걸기 ( 255 초과시 255 출력)

user = input("숫자입력")
user = int(user)

result = user + 20
if (result > 255 ) : 
    print (255)
else :
    print(result)

숫자입력 200

220

In [46]:
#115
#입력받은 후 해당 값에 20을 뺀 값을 출력 /
#결괏값이 0보다 작을때 0을 출력하고 255보다 클때 255를 출력

#1. 입력값 받기 : input 
# 2. 입력값 - 20 결과값 만들기 : int 사용 및 결과값 변수 
# 3. 출력값 범위 지정 : if문 사용 0보다 작을때, 255보다 클때

user = input ("숫자입력")
user = int(user)
result = user - 20
if (result > 255) :
    print (255)
elif (result < 0) :
    print(0)
else :
    print(result)

숫자입력 15

0

In [60]:
#117
#1. 단어입력받기
#2. 리스트 안 단어와 일치하는지 확인  
#3. 결과값 출력(정답/ 오답)
fruit = ["사과", "포도", "홍시"]

user = input("과일")
if (user == fruit[0] or user == fruit[1] or user == fruit[2]) : 
    print("정답입니다")
else :
    print("오답입니다")

과일 포도

정답입니다

In [61]:
fruit = ["사과", "포도", "홍시"]
user = input("과일")
if user in fruit :
        print("정답입니다")
else :
    print("오답입니다")

과일 홍시

정답입니다

In [86]:
#118
#1.사용자로부터 종목명 입력받기 - insert
#2. 해당 종목명이 투자경고 종목에 포함되는지 in 
#3. 결과값 출력하기
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

result = []
for i in range (len(warn_investment_list)) :
    warn_investment_list[i] = warn_investment_list[i].lower()
    result.append(warn_investment_list[i])
    
print(result)

['microsoft', 'google', 'naver', 'kakao', 'samsung', 'lg']

In [90]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

result = []
  
for stock in warn_investment_list:
    result.append(stock.lower())

print(result)

['microsoft', 'google', 'naver', 'kakao', 'samsung', 'lg']

In [108]:
#121

user = input("문자")

if user.islower() :
    print (user.upper())
else :
    print (user.lower())

문자 Da

da

In [ ]:
#122
user = input("점수")
user = int(user)

if (100 >= user >= 81) : 
    print("grade is A")
elif (user >= 61) : 
    print("grade is B")
elif (user >= 41) : 
    print("grade is C")
elif (user >= 21) : 
    print("grade is D")
elif (user >= 0) : 
    print("grade is E")

점수 80

grade is B

In [155]:
# # user = "100 위안"

# # print(user.index(" "))

# # user[int(user.index(" "))+1:]
# # user[:int(user.index(" "))]

# user.index(" ")
# print(user[user.index(" "):])

 위안

In [178]:
user = "100 위안"
currency = user.split(" ")
currency[1]

'위안'

In [172]:
#123
#1.사용자로부터 금액 입력받기 (달러, 엔, 유로, 위안)
#2. 통화별 환율값 설정하기 
#3. 달러, 엔, 유로, 위안을 원으로 변환해서 결과값내기(if 활용)
# 1167 = 달러
# 1.096 = 엔
# 1268 = 유로
# 171 위안

user = input("금액")

if (user[int(user.index(" "))+1:] == "달러") :
    print (int(user[:user.index(" ")]) * 1167) 
elif (user[int(user.index(" "))+1:] == "엔") :
    print (int(user[:user.index(" ")]) * 1.096)
elif (user[int(user.index(" "))+1:] == "유로") :
    print (int(user[:user.index(" ")]) * 1268)
else :  
    print (int(user[:user.index(" ")]) * 171)

금액 5456 달러

6367152

In [181]:
user = input("금액")

currency = user.split(" ")
if (currency[1] == "달러") :
    print(int(currency[0]) * 1167, "원")

금액 654 달러

763218 원

In [205]:
#124 ??? 
#1. 사용자로부터 세 개 숫자입력받기 input
#2. 가장 큰 숫자 출력하기 

user1 = input("숫자1")

testList = [] 
for i in range(1,4) :
    user (i) = input("숫자(i)")
    testList.append(user(i))


# # 준영님
# n =5
# list1=[]
# for i in range(0,n):
#     list1.append(int(input()))
# print(list1)

SyntaxError: cannot assign to function call (2960946412.py, line 5)

In [202]:
number = "011-325-4654"
number.split("-")[0]

'011'

In [204]:
#125 
# 번호 011 skt
# 번호 016 kt
# 번호 019 lgu
# 번호 010 알수없음

#1. 사용자 휴대전화번호 입력받기 - input
#2. 통신사 

number = input("휴대폰번호")
num = number.split("-")
if(num[0] == "011") : 
    print("당신은 skt 사용자입니다")
elif(num[0] == "016") : 
    print("당신은 kt 사용자입니다")
elif(num[0] == "019") : 
    print("당신은 lgu 사용자입니다")
else :
        print("당신은 알수없음 사용자입니다")

휴대폰번호 010-654-3216

당신은 알수없음 사용자입니다

In [208]:
postNumber = "01200"
postNumber[2]

'2'

In [219]:
#126

postNumber = input("우편번호")

if (postNumber[2] == "0" or postNumber[2] == "1" or postNumber[2] == "2") :
    print("강북구")
elif (postNumber[2] == "3" or postNumber[2] == "4" or postNumber[2] == "5") :
    print("도봉구")
else :
    print("노원구")

우편번호 07865

노원구

 4
 5
 6
 4
 1

[4, 5, 6, 4, 1]

In [221]:
list1

[1, 2, 3, 4, 5]