In [6]:
#원하는 사이트에서 정보 받아오기

import requests
import bs4
import pandas as pd

targetUrl = "https://www.ssg.com/search.ssg?target=all&query=%EC%BB%A4%ED%94%BC"

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36',}

indata = requests.get(targetUrl, headers=headers)

ssg=indata.text

htmlObj = bs4.BeautifulSoup(ssg, "html.parser")

In [7]:
# ssg.com 커피 1페이지 첫번째 커피 이름과 가격정보 수집 (광고제외)

areaObj = htmlObj.find(id="area_searchItemList")

li = areaObj.find(name = "li")

unitInfo = li.find(attrs = {"class" : "cunit_info"})

coffee_price = unitInfo.findAll(name = "em", attrs = {"class" : "ssg_price"})

coffee_price

coffee_name = unitInfo.findAll(name = "em", attrs = {"class" : "tx_ko"})

coffee_name

len(coffee_name)

coffeInfoOutput = []

for i in range(0, len(coffee_name)) :
    coffeInfoOutput.append(coffee_name[i].text)
    coffeInfoOutput.append(coffee_price[i].text)

In [8]:
# 1.컬럼별 수집 - zip 활용
# ssg.com 커피 1페이지 내의 전체 커피 이름과 가격정보 수집 

areaObj = htmlObj.find(id="area_searchItemList")

lis = areaObj.findAll(name = "li")

unitInfoList = []

for i in range(0, len(lis)) :
    unitInfo = lis[i].find(attrs = {"class" : "cunit_info"})
    unitInfoList.append(unitInfo)
   

coffeeName = []
for i in range(0, len(unitInfoList)) :
    eachCoffeeName = unitInfoList[i].find(name = "em", attrs = {"class" : "tx_ko"}).text
    coffeeName.append(eachCoffeeName)

coffeePrice = []
for i in range(0, len(unitInfoList)) :
    eachCoffeePrice = unitInfoList[i].find(name = "em", attrs = {"class" : "ssg_price"}).text
    coffeePrice.append(eachCoffeePrice)    

# coffeNameList = [] text를 뽑아내는 작업 (위처럼 text를 한번에 뽑아내면 할 필요없음)

# for i in range(0, len(coffeeName)) :
#     try :
#         coffeNameList.append(coffeeName[i].text)
#     except Exception as e :
#         print(e)    
            
    
# print(len(coffeeName))
# print(len(coffeePrice))


coffeeDt = pd.DataFrame(zip (coffeeName, coffeePrice) )
coffeeDt.columns = ["커피 제품명", "가격"]
coffeeDt

                                커피 제품명      가격
0         [맥심] 모카골드 마일드 커피믹스 250입(쓱배송)  33,980
1   [맥심/바로배송] 카누 마일드 로스트 아메리카노 미니 150입  29,980
2                                   맥심  33,980
3                              PEACOCK  13,860
4                                   맥심  22,400
..                                 ...     ...
75          [맥심]카누 라떼 10입 (13.5g*10개입)   4,770
76                                  맥심   7,080
77                            No Brand  12,980
78      [스타벅스] 돌체구스토 써니데이 블렌드 by 돌체구스토   9,080
79                             PEACOCK  10,360

[80 rows x 2 columns]

In [9]:
#2.행별 수집 -row 활용
# ssg.com 커피 1페이지 내의 전체 커피 이름과 가격정보 수집 

areaObj = htmlObj.find(id="area_searchItemList")

lis = areaObj.findAll(name = "li")

unitInfoList = []
   
for i in range(0, len(lis)) :
    unitInfo = lis[i].find(attrs = {"class" : "cunit_info"})
    unitInfoList.append(unitInfo)

rowList = []
for i in range(0, len(unitInfoList)) :
    eachCoffeeName = unitInfoList[i].find(name = "em", attrs = {"class" : "tx_ko"}).text
    eachCoffeePrice = unitInfoList[i].find(name = "em", attrs = {"class" : "ssg_price"}).text
    
    rowList.append([eachCoffeeName,eachCoffeePrice] )

coffeDt = pd.DataFrame(rowList)
coffeDt.columns = ["커피제품명", "가격"]   
coffeDt

                                 커피제품명      가격
0         [맥심] 모카골드 마일드 커피믹스 250입(쓱배송)  33,980
1   [맥심/바로배송] 카누 마일드 로스트 아메리카노 미니 150입  29,980
2                                   맥심  33,980
3                              PEACOCK  13,860
4                                   맥심  22,400
..                                 ...     ...
75          [맥심]카누 라떼 10입 (13.5g*10개입)   4,770
76                                  맥심   7,080
77                            No Brand  12,980
78      [스타벅스] 돌체구스토 써니데이 블렌드 by 돌체구스토   9,080
79                             PEACOCK  10,360

[80 rows x 2 columns]

In [ ]:
#한수방식 - row
areaObj = htmlObj.find(id="area_searchItemList")

li = areaObj.find(name = "li")
lis = areaObj.findAll(name = "li")

lis[0].find(name = "em", attrs = {"class" : "ssg_price"})

for i in range(len(lis)):
    rowList = []
    a = lis[i].find(name = "em", attrs = {"class" : "ssg_price"}).text
    b = lis[i].find(name = "em", attrs = {"class" : "tx_ko"}).text
    rowList.append(a)
    rowList.append(b)
    dfList.append(rowList)
dfList